
{% form_theme formView _self %}

{% block form_label %}
    {% if label is defined and label is not same as(false) %}
        <label class="{{ required ? 'required': '' }}">{{ label|trans }}{% spaceless %}
                {% if required %}
                    <span class="required" title="{{ 'form.this-field-is-required'|trans }}">*</span>
                {% endif %}
            {% endspaceless %}</label>
    {% endif %}
{% endblock %}

{{ form_start(formView, {
    'method': 'POST',
    'attr': {'novalidate': 'novalidate'}
}) }}

{{ form_row(formView.title) }}

{{ form_row(formView.content) }}

{{ form_row(formView.summary) }}

{{ form_row(formView.tags2) }}

<div class="text-align-right">
    <a href="{{ getPreviousPath() }}" class="btn btn-default">Powrót</a>
    {{ form_widget(formView.SaveDraft) }}
    {{ form_widget(formView.SaveAndPublish) }}
</div>

{{ form_end(formView) }}
