{% extends '@blog_frontend/base.html.twig' %}

{% block title %}Aktualizacja postu - {{ parent() }}{% endblock %}

{% block body_id 'blog_post_form' %}

{% block subheader %}
    <div class="row">
        <div>
            <div class="col-xs-8">
                <h2>Formularz postu</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-xs-12">
            {{ include('@blog_frontend/full/blog/parts/metadata.html.twig', {showAuthor: true}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ include('@blog_frontend/full/blog/post/create-update.html.twig') }}
        </div>
    </div>

{% endblock %}

{% block sidebar %}

{% endblock %}
