{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form _self %}

{% block form_label %}
    {% if label is defined and label is not same as(false) %}
        <label class="{{ required ? 'required': '' }}">{{ label|trans }}{% spaceless %}
                {% if required %}
                    <span class="required" title="{{ 'form.this-field-is-required'|trans }}">*</span>
                {% endif %}
            {% endspaceless %}</label>
    {% endif %}
{% endblock %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}

    <div>
        <div class="text-align-right">
            <input type="submit" class="btn btn-default" value="{{ 'registration.submit'|trans }}" />
        </div>
    </div>

{{ form_end(form) }}
