{% extends "@blog_frontend/base.html.twig" %}

{% set mainWidth = 6 %}
{% set sidebarWidth = 6 %}

{% block subheader %}
    <div class="row">
        <div class="col-xs-12">
            <h2>
                Rejestracja
            </h2>
        </div>
    </div>
{% endblock %}

{% block sidebar_left %}
    <div id="sidebar" class="col-md-{{ sidebarWidth }}">
        <aside>
            <div class="well">
                <h4>Postanowienia / regulamin</h4>
                <p>Lorem ipsum, lorem ipsum.</p>
            </div>
        </aside>
    </div>
{% endblock %}

{% block main %}
    <div class="well">
        <h4>Formularz</h4>

        {% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>

{% endblock main %}

{% block sidebar_right %}{% endblock %}

