<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
{#
https://colorlib.com/wp/free-bootstrap-blog-templates/

https://freshdesignweb.com/free-blogger-templates/
https://xmag-soratemplates.blogspot.com/
https://freshdesignweb.com/free-blogger-templates/2/
http://wagazine-themexpose.blogspot.com/
#}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />
    {% endblock %}

    {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/favicon/apple-icon-57x57.png') }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('images/favicon/apple-icon-60x60.png') }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/favicon/apple-icon-72x72.png') }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/favicon/apple-icon-76x76.png') }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/favicon/apple-icon-114x114.png') }}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/favicon/apple-icon-120x120.png') }}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/favicon/apple-icon-144x144.png') }}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/favicon/apple-icon-152x152.png') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicon/apple-icon-180x180.png') }}"/>
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('images/favicon/android-icon-192x192.png') }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon/favicon-32x32.png') }}"/>
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('images/favicon/favicon-96x96.png') }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon/favicon-16x16.png') }}"/>
    <link rel="manifest" href="{{ asset('images/favicon/manifest.json') }}"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="{{ asset('images/favicon/ms-icon-144x144.png') }}"/>
    <meta name="theme-color" content="#ffffff"/>
</head>

<body id="{% block body_id %}{% endblock %}" {% block body_attributes %}{% endblock %}>

{% block header %}
    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header col-md-3 col-lg-2">
                    <a class="navbar-brand" href="{{ path('homepage') }}">
                        Symfony Demo
                    </a>

                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">{{ 'menu.toggle_nav'|trans }}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">

                        {% block header_navigation_links %}
                            <li>
                                <a href="{{ path('homepage') }}">
                                    <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.homepage'|trans }}
                                </a>
                            </li>

                            {% if is_granted('ROLE_BLOGGER') %}
                                <li>
                                    <a href="{{ path('blog_index') }}">
                                        <i class="fa fa-lock" aria-hidden="true"></i> Mój blog
                                    </a>
                                </li>
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('admin_post_index') }}">
                                        <i class="fa fa-lock" aria-hidden="true"></i> {{ 'menu.admin'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endblock %}

                        <li>
                            <a href="{{ path('blog_post_search') }}"> <i class="fa fa-search"></i> {{ 'menu.search'|trans }}</a>
                        </li>


                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="locales">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <span class="caret"></span>
                                <span class="sr-only">{{ 'menu.choose_language'|trans }}</span>
                            </a>
                            <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">
                                {% for locale in locales() %}
                                    <li {% if app.request.locale == locale.code %}aria-checked="true" class="active"{% else %}aria-checked="false"{% endif %} role="menuitem"><a href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>

                        {% if app.user %}
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}" title="Jesteś zalogowany jako: {{ app.user.username }}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }} ({{ app.user.username }})
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_security_login') }}">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'menu.login'|trans }}
                                </a>
                            </li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

<div class="container body-container">
    {#{{ dump() }}#}
    {% block subheader %}
        <div class="row">
            <div class="col-xs-12">
                {{ include('default/_flash_messages.html.twig') }}
            </div>
        </div>
    {% endblock %}

    {% set mainWidth = mainWidth|default(9) %}
    {% set sidebarWidth = sidebarWidth|default(3) %}

    {% block body %}


        <div class="row">
            {% block sidebar_left %}{% endblock %}

            <div id="main" class="col-xs-12 col-md-{{ mainWidth }}">
                {{ include('default/_flash_messages.html.twig') }}

                {% block main %}{% endblock %}
            </div>

            {% block sidebar_right %}
                <div id="sidebar" class="col-xs-12 col-md-{{ sidebarWidth }}">
                    <aside>
                        {{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {
                            'template': 'blog/about.html.twig',
                            'sharedAge': 600,
                            '_locale': app.request.locale
                        })) }}
                    </aside>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <p>&copy; {{ 'now'|date('Y') }} - The Symfony Project</p>
                    <p>{{ 'mit_license'|trans }}</p>
                </div>
                <div id="footer-resources" class="col-md-6">
                    <p>
                        <a href="https://twitter.com/symfony" title="Symfony Twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://symfony.com/blog/" title="Symfony Blog">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/js/common.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}

{# it's not mandatory to set the timezone in localizeddate(). This is done to
   avoid errors when the 'intl' PHP extension is not available and the application
   is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
<!-- Page rendered on {{ 'now'|localizeddate('long', 'long', null, 'UTC') }} -->
</body>
</html>
