{% extends '@blog_frontend/base.html.twig' %}

{% block title %}Mój blog - {{ parent() }}{% endblock %}

{% block body_id 'blog_index' %}

{% set sidebarWidth = sidebarWidth|default(3) %}

{% block subheader %}
    <div class="row">
        <div>
            <div class="col-xs-5">
                <h2>Mój blog</h2>
            </div>
            <div class="col-xs-4 pull-right col-md-pull-{{ sidebarWidth }}">
                <a href="{{ path('blog_post_create') }}" class="btn btn-danger">Post - formularz</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-xs-12">
            <h3>
                Moje nieopublikowane posty
            </h3>
            {% for post in postsUnpublished %}
                <article class="post">
                    <h2>
                        <a href="{{ path('blog_post_draft', {slug: post.slug}) }}">
                            {{ post.title }}
                        </a>
                        <span class="pull-right">
                            | <a href="{{ path('blog_post_update', {'slug': post.slug}) }}"
                               class="glyphicon glyphicon-edit small"
                               title="Uaktualnij"></a>
                        </span>
                    </h2>

                    {{ include('@blog_frontend/full/blog/parts/metadata.html.twig') }}

                    {{ post.summary|md2html }}

                    {{ include('blog/_post_tags.html.twig') }}
                </article>
            {% else %}
                <div class="well">{{ 'post.no_posts_found'|trans }}</div>
            {% endfor %}

            {% if posts.haveToPaginate %}
                <div class="navigation text-center">
                    {{ pagerfanta(postsUnpublished, 'twitter_bootstrap3_translated', {routeName: 'blog_index_paginated', routeParams: app.request.query.all}) }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>
                Moje popularne posty w tym miesiącu
            </h3>
            {% for post in postsMostPopularInMonth %}
                <article class="post">
                    <h2>
                        <a href="{{ path('blog_post', {slug: post.slug}) }}">
                            {{ post.title }}
                        </a>
                        <span class="pull-right">|
                            <a href="{{ path('blog_post_update', {'slug': post.slug}) }}"
                               class="glyphicon glyphicon-edit small"
                               title="Uaktualnij"></a>
                        </span>
                    </h2>

                    {{ include('@blog_frontend/full/blog/parts/metadata.html.twig') }}

                    {{ post.summary|md2html }}

                    {{ include('blog/_post_tags.html.twig') }}
                </article>
            {% else %}
                <div class="well">{{ 'post.no_posts_found'|trans }}</div>
            {% endfor %}

            {% if posts.haveToPaginate %}
                <div class="navigation text-center">
                    {{ pagerfanta(posts, 'twitter_bootstrap3_translated', {routeName: 'blog_index_paginated', routeParams: app.request.query.all}) }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>
                Moje popularne posty
            </h3>
            {% for post in postsMostPopular %}
                <article class="post">
                    <h2>
                        <a href="{{ path('blog_post', {slug: post.slug}) }}">
                            {{ post.title }}
                        </a>
                        <span class="pull-right">|
                            <a href="{{ path('blog_post_update', {'slug': post.slug}) }}"
                               class="glyphicon glyphicon-edit small"
                               title="Uaktualnij"></a>
                        </span>
                    </h2>

                    {{ include('@blog_frontend/full/blog/parts/metadata.html.twig') }}

                    {{ post.summary|md2html }}

                    {{ include('blog/_post_tags.html.twig') }}
                </article>
            {% else %}
                <div class="well">{{ 'post.no_posts_found'|trans }}</div>
            {% endfor %}

            {% if posts.haveToPaginate %}
                <div class="navigation text-center">
                    {{ pagerfanta(postsMostPopular, 'twitter_bootstrap3_translated', {routeName: 'blog_index_paginated', routeParams: app.request.query.all}) }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>
                Moje ostatnie posty w tym miesiącu
            </h3>
            {% for post in postsLatestInMonth %}
                <article class="post">
                    <h2>
                        <a href="{{ path('blog_post', {slug: post.slug}) }}">
                            {{ post.title }}
                        </a>
                        <span class="pull-right">|
                            <a href="{{ path('blog_post_update', {'slug': post.slug}) }}"
                               class="glyphicon glyphicon-edit small"
                               title="Uaktualnij"></a>
                        </span>
                    </h2>

                    {{ include('@blog_frontend/full/blog/parts/metadata.html.twig') }}

                    {{ post.summary|md2html }}

                    {{ include('blog/_post_tags.html.twig') }}
                </article>
            {% else %}
                <div class="well">{{ 'post.no_posts_found'|trans }}</div>
            {% endfor %}

            {% if posts.haveToPaginate %}
                <div class="navigation text-center">
                    {{ pagerfanta(postsMostPopularInMonth, 'twitter_bootstrap3_translated', {routeName: 'blog_index_paginated', routeParams: app.request.query.all}) }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>
                Moje ostatnie posty
            </h3>
            {% for post in posts %}
                <article class="post">
                    <h2>
                        <a href="{{ path('blog_post', {slug: post.slug}) }}">
                            {{ post.title }}
                        </a>
                        <span class="pull-right">|
                            <a href="{{ path('blog_post_update', {'slug': post.slug}) }}"
                               class="glyphicon glyphicon-edit small"
                               title="Uaktualnij"></a>
                        </span>
                    </h2>

                    {{ include('@blog_frontend/full/blog/parts/metadata.html.twig') }}

                    {{ post.summary|md2html }}

                    {{ include('blog/_post_tags.html.twig') }}
                </article>
            {% else %}
                <div class="well">{{ 'post.no_posts_found'|trans }}</div>
            {% endfor %}

            {% if posts.haveToPaginate %}
                <div class="navigation text-center">
                    {{ pagerfanta(postsMostPopularInMonth, 'twitter_bootstrap3_translated', {routeName: 'blog_index_paginated', routeParams: app.request.query.all}) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
    {{ include('blog/_rss.html.twig') }}
{% endblock %}
