
<p class="post-metadata">
    {% if isDraft is not defined %}
        {% set isDraft = true %}
        {% if post.status > 1023 %}
            {% set isDraft = false %}
        {% endif %}
    {% endif %}

    {% set datePublishedString = "" %}
    {% set dateCreatedString = "" %}
    {% set dateModifiedString = post.modified|localizeddate('long', 'medium') %}

    {% if isDraft %}
        {% set dateCreatedString = post.created|localizeddate('long', 'medium') %}

        {% if dateCreatedString is not same as(dateModifiedString) %}
            <span class="metadata"
                  title="Utworzony UTC {{ post.created|localizeddate('long', 'medium', null, 'UTC') }}"
                ><i class="fa fa-calendar"></i> {{ dateCreatedString }}</span>
            | <span class="metadata"
                    title="Zmodyfikowany UTC {{ post.modified|localizeddate('long', 'medium', null, 'UTC') }}"
                ><i class="fa fa-calendar modified"></i> {{ dateModifiedString }}</span>
        {% else %}
            <span class="metadata"
                  title="Utworzony UTC {{ post.created|localizeddate('long', 'medium', null, 'UTC') }}"
            ><i class="fa fa-calendar"></i> {{ dateCreatedString }}</span>
        {% endif %}

        {% if showAuthor is defined and showAuthor %}
            <span class="metadata" title="Autor">
                <i class="fa fa-user"></i> {{ post.authorNickname }}</span>
        {% endif %}

        <span class="metadata" title="Wyświetlenia"><i class="fa views"></i> {{ post.viewReadNumber }}</span>
    {% else %}
        {% set datePublishedString = post.publishedAt|localizeddate('long', 'medium') %}

        {% if datePublishedString is not same as(dateModifiedString) %}
            <span class="metadata"
                  title="Opublikowany UTC {{ post.publishedAt|localizeddate('long', 'medium', null, 'UTC') }}">
                <i class="fa fa-calendar"></i> {{ datePublishedString }}</span>
            | <span class="metadata"
                    title="Zmodyfikowany UTC {{ post.modified|localizeddate('long', 'medium', null, 'UTC') }}">
            <i class="fa fa-calendar modified"></i> {{ dateModifiedString }}</span>
        {% else %}
            <span class="metadata"
                  title="Opublikowany UTC {{ post.publishedAt|localizeddate('long', 'medium', null, 'UTC') }}">
                <i class="fa fa-calendar"></i> {{ datePublishedString }}</span>
        {% endif %}

        {% if showAuthor is defined and showAuthor %}
            <span class="metadata" title="Autor">
                <i class="fa fa-user"></i> {{ post.authorNickname }}</span>
        {% endif %}

        <span class="metadata" title="Wyświetlenia">
            <i class="fa views"></i> {{ post.viewReadNumber }}</span>
    {% endif %}
</p>