{% spaceless %}
    {% if canUpdate %}
        <span class="pull-right">|
            <a href="{{ path('blog_post_update', {slug: post.slug}) }}"
               class="glyphicon glyphicon-edit small"
               title="Uaktualnij"></a>
        </span>
    {% endif %}
{% endspaceless %}