{% extends '@blog_frontend/base.html.twig' %}

{% block body_id 'comment_form_error' %}

{% block main %}
    <h1 class="text-danger">{{ 'title.comment_error'|trans }}</h1>

    <div class="well">
        {{ include('@blog_frontend/parts/blog/post/comment/form.html.twig') }}
    </div>
{% endblock %}
